@charset "UTF-8";
@font-face {
    font-family:'oldlond' ;
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-color: aquamarine;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
header{
    background-image: linear-gradient(to top,rgb(76, 194, 76),rgb(74, 116, 74));
    margin: 0;
    padding: 5px;
}
header > h1{
    color: white;
    text-align: center;
    filter: drop-shadow(1px 5px 6px black);
    font-family: "bebas neue",sans-serif;
    
}
header > p{
    color: white;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;

}
nav >a {
    margin: 30px;
    padding: 5px;
}
nav > a:hover{
    background-color: rgba(159, 226, 159, 0.644);
    border-radius: 10px;
}

main{
    background-color: white;
    width: 850px;
    margin: auto;
    padding: 1px;
}
section{
    padding: 1px;
    margin: 15px;
}
article > h1{
    
    font-family: oldlond;
    color:rgb(7, 114, 7);
    font-size: 26px;

    
}
.verde{
    color: darkgreen;
    font-weight: bold;
    font-size: 200;
}
article > h2{
    background-image: linear-gradient(to right, rgb(161, 228, 161),white);
    font-family: oldlond;
    font-weight: normal;
    color: rgb(7, 114, 7);
}
p.linha{
   text-indent: 50px;
   text-align: justify;
   font-weight: 100;
}
img{
margin: auto;
display: block; /*centralizei a imagem usando display block*/
}

article > iframe{
    margin: auto;
    display: block;
}
section#cor-verde{
    background-color: darkgreen;
    margin: 0;
    padding: 20px;
}
article#caixar-aprender{
    
    background-color:rgb(161, 228, 161) ;
    border-radius: 10px;
    box-shadow: 1px 1px 6px 1px black;
    padding: 1px;

}
article#caixar-aprender > h3{
    background-color: rgb(0, 161, 0);
    margin: 0;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
   
}
.lado{
    
    width: 400px;
    margin: 0;
    display: inline-block;
}
ul > li{
    list-style: square;
}
footer >p{
   text-align: center;
   margin: 50px 5px 10px 20px;
   padding: 5px;
}
footer{
    margin: 0;
    background-color: darkgreen;
}
